<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
   <appSettings>
     <add key="GrammarFileExtension" value=".g4"/>
     <add key="JarFileName" value="antlr-4.8-complete.jar"/>
     <add key="Languages" value="Java,CSharp,Python2,Python3,Cpp,JavaScript,Go,Swift"/>
   </appSettings>
</configuration>
